html {
  font-size: 14px;
  
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  font-family: "Inter"
}

*:not(.fa-solid):not(.fa):not(.e-icons) {
    font-family: "Inter"
}

body {
    margin-bottom: 60px;
    background-color: #12161d;
    color: #fff;
    overflow: hidden;
    
    
    
}


/*tab navigation*/
.login-page {
    margin-right:10%
}
.login-logout-card .card-header {
    padding: 0px 0px 12px 0px;
    
}
.login-logout-card {
    background-color: #212b36;
    border-radius: 10px;
    width: 130%;
    height: auto;
}

.login-logout-card ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

.login-logout-card li.nav-item {
    width: 50%;


}

    .login-logout-card a.nav-link {
        font-size: 1rem;
        color: #495057;
        text-align: center;
        padding: 1rem;
        
    }

    .login-logout-card .card-body {
        padding: 10px 20px;
        color: #495057;
        
    }
    
    



/*BreadCrumb*/
.e-breadcrumb a, .e-breadcrumb a:hover {
    text-decoration: none !important;
    color: inherit !important;
}

/*Button*/
.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none;
}

/*Hyperlink*/
.no-a-decoration, .no-a-decoration:hover {
    text-decoration: none;
    color: inherit;
}

/*Logo*/
.logo-wrapper {
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo-wrapper h1 {
        color: #65da41;
        font-size:10px;
        
    }

.app-logo {
    padding: 10px 10px;
    margin-left:10px; 
    
}
.app-logo img {
    border-radius: 1rem;
   width: 90%;
    
}

.e-bigger {
    font-size: x-large;
}
.main-content {
    margin-left: 290px;
    overflow-y: auto;
    height: 92vh;
    
}

.profile-container {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.nav-item #logoutForm #logout {
    padding: 0;
    color: #fff !important;
}



/*Menu*/
#menu {
    width: 100% !important;
    background-color: inherit;
    overflow: hidden;
}

    #menu .e-menu-item:not(.e-separator) {
        height: 50px;
        border-radius: 4px;
    }

    #menu .e-menu-item {
        box-sizing: border-box;
    }

        #menu .e-menu-item a {
            width: 100%;
            color: rgb(171, 163, 152);
            font-weight: 300;
            padding: 7px 5px;
            box-sizing: border-box;
        }

    #menu .e-anchor-wrap {
        display: inline-block;
    }

    #menu .e-menu-item .e-anchor-wrap span.e-menu-icon {
        color: rgb(171, 163, 152);
    }

    #menu .e-menu-item.e-separator {
        border: none;
        margin: 5px 5px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 13px;
        color: #65da41;
    }

        #menu .e-menu-item.e-separator:not(:first-child) {
            margin-top: 35px;
        }



/*Grid*/
.e-grid {
    border: 0;
    border-radius: 5px;
}

    .e-grid .e-gridcontent, .e-grid .e-table {
        background-color: #1a222b;
    }

    .e-grid .e-gridheader {
        border: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 10px;
        background-color: #222b33;
    }

        .e-grid .e-gridheader .e-headercell {
            background-color: #222b33;
        }

    .e-grid .e-gridpager {
        background-color: #1a222b;
    }

    .e-grid .e-pagercontainer {
        border: none;
        background-color: #1a222b;
    }

    .e-grid .e-content table {
        padding: 0px 10px;
    }

.e-pagercontainer .e-icons {
    background-color: #1a222b;
    border: none !important;
}

.e-pager .e-numericitem {
    color: #adb5bd;
    background-color: #1a222b;
    padding: 15px !important;
}
.e-pager .e-numericitem:not(.e-currentitem) {
    border: none !important;
}

.e-pager .e-numericitem:hover {
    color: #fff;
}

.e-pager .e-numericitem.e-currentitem {
    color: #fff;
    border: none !important;
    background-color: #31373d;
}

.e-pager div.e-icons:not(.e-disable) {
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.e-grid .e-pager {
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*Navbar*/
nav.navbar {
    background-color: rgba(18, 22, 29);
}

    nav.navbar i {
        padding: 10px;
        border-radius: 50%;
        font-size: 1.2rem;
        cursor: pointer;
    }

        nav.navbar i:hover, nav.navbar img:hover {
            cursor: pointer;
            background-color: #48545f14;
            transform: scale(1.05) translateZ(0px);
        }

nav.navbar {
    margin-left: 290px;
}

/*Profile Pic*/
img.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profile-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(72, 84, 95, 0.12);
    padding: 16px 20px;
    border-radius: 12px;
    cursor: pointer;
    margin-bottom: 30px;
}

    .profile-wrapper .titles {
        line-height: 1;
    }


/*Radio button hgroup*/

.e-btn-group.custom-rbt-group {
    width : 100%;
}

.e-btn-group.custom-rbt-group .e-btn {
    width: 50%;
}

.custom-rbt-group label.e-btn {
    box-shadow: none !important;
    border: 1px solid #fff;
    background-color: rgb(34 43 51);
    color: #fff;
}

.e-btn-group.custom-rbt-group input:checked + label.e-btn {
    background-color: #fff;
    color: #212b36;
    border: 1px solid #fff;
}

/*Widget*/
.widget {
    border-radius: 1rem;
    background-color: #1a222b;
}

.widget.summary > div:first-child {
        background-color: #222b33;
        padding: 1rem;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }

        .widget.summary > div:first-child i {
            font-weight: bold;
        }

    .widget.income > div:first-child {
        color: #65da41;
    }

    .widget.expense > div:first-child {
        color: #ff4e48;
    }

    .widget.balance > div:first-child {
        color: #2aa1ff;
    }

    .widget.chart {
        padding: 5px;
    }

/*SideBar*/
#sidebar {
    background-color: #12161d;
    border-right: 1px dashed rgba(75,82,85,0.24);
    padding: 10px 20px;
    overflow: hidden;
}

    #sidebar .e-menu-wrapper {
        width: 100%;
        background-color: inherit;
    }

#sidebar-toggler {
    padding: 10px;
    border-radius: 50%;
    font-size: 1.2rem;
    cursor: pointer;
}

    #sidebar-toggler:hover {
        cursor: pointer;
        background-color: #48545f14;
        transform: scale(1.05) translateZ(0px);
    }

#sidebar.e-close {
    padding-left: 10px;
    padding-right: 10px;
}

    #sidebar.e-close .app-logo {
        display: none;
    }

    #sidebar.e-close .e-anchor-wrap, #sidebar.e-close .e-menu-item.e-menu-caret-icon {
        font-size: 0px;
    }

    #sidebar.e-close .profile-wrapper .titles {
        display: none !important;
    }


    #sidebar.e-open .e-anchor-wrap,
    #sidebar.e-close .e-menu-icon, #sidebar.e-open .e-menu-icon {
        visibility: visible;
    }

#sidebar.e-open .profile-wrapper .titles, #sidebar.e-open .app-logo {
    display: flex;
}

#sidebar.e-sidebar.e-right.e-close {
    visibility: visible;
    transform: translateX(0%);
}

#sidebar.e-open #sidebar-toggler:before {
    content: '\f100'
}

#sidebar.e-close #sidebar-toggler:before {
    content: '\f101'
}
/*Exchange Rates*/
.center {
   
    margin: 0 10px 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: #1a222b;
}
.table {
    color: #fff;
}
.exchange{
    margin-top: 100px;
}
.exchange h1{
    text-align:center;
}



/*Home*/
.home-menu{
    margin:10px;
}
.col-md-6 img {
    height: 500px;
    border-radius: 10px;
}


/*Contact*/
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: #45a049;
    }

.container-contact {
    border-radius: 10px;
    background-color: #1a222b;
    padding: 20px;
    margin: 3% 25% 0 ;
    width: 50%;
}
.contact-submit{
    margin-top: 10px;
    align-items: center;
}
.container-contact label {
    color: #495057;
    
}
.container-contact input,
.container-contact textarea
{
    background-color: #212b36;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin: 2rem 3rem 4rem;

    
}
div #myCarousel {
    width:90%;
    
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 25rem;
}
.carousel-img{
    width:100%;
}

.carousel-caption h1,
.carousel-caption p {
    color: white;
}

.container.marketing{
     text-align: center;
     width:40%;
     margin-top:50px;
}

/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
    /* rtl:begin:ignore */
    .marketing .col-lg-4 p {
        margin-right: .75rem;
        margin-left: .75rem;
    }
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
    letter-spacing: -.05rem;
}

/* rtl:end:remove */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}
/*dowload-home*/

.carousel-row h4,
.carousel-row p,
.carousel-row img {
    float: left;
}
/*card*/
.card-container {
    margin: 3rem 0rem 4rem 0rem;
}
.card-home {
    background-color: #212b36;
    width:14rem;
    border-radius:1rem;
    padding:15px; 
    transition: transform 0.2s ease-in-out; /* Hareketin süresi ve türü */
}
    .card-home h6 {
        font-weight: bold;
        color: black;
    }


    .card-home:hover {
        transform: scale(1.02); /* Mouse hover durumunda büyütme (1.05 oranında) */
    }



/* Yıldızları yan yana sırala */
.stars {
    display: inline-block;
}

    /* İkonların boyutunu ve rengini isteğinize göre ayarlayabilirsiniz */
    .stars i {
        font-size: 20px;
        color: #FFD700; /* Sarı renkli yıldızlar */
        margin-right: 3px; /* İkonlar arasında boşluk ekleyebilirsiniz */
    }

/*create account home*/
.container-create-account {
    text-align: center;
    margin-bottom: 5rem;
}


.create-account a{
    text-decoration: none;
    color: white;
    
}
/*Home-footer*/


footer ul li{
    margin:5px;
    display: inline-block;
}
footer {
    height:50px;
}

footer img{
   
    border-radius:1rem;
}
.app-logo-list{

}

.home-fixed-top p{
    margin-right: 20px;
}